/WeatherStats/bin/Debug/$RANDOM_SEED$
/WeatherStats/bin/Debug/EF6CodeFirstTutorials.exe
/WeatherStats/bin/Debug/EF6CodeFirstTutorials.exe.config
/WeatherStats/bin/Debug/EF6CodeFirstTutorials.pdb
/WeatherStats/bin/Debug/EF6CodeFirstTutorials.vshost.exe
/WeatherStats/bin/Debug/EF6CodeFirstTutorials.vshost.exe.config
/WeatherStats/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WeatherStats/obj/Debug/EF6CodeFirstTutorials.csproj.FileListAbsolute.txt
/WeatherStats/obj/Debug/EF6CodeFirstTutorials.csproj.GenerateResource.Cache
/WeatherStats/obj/Debug/EF6CodeFirstTutorials.csprojResolveAssemblyReference.cache
/WeatherStats/obj/Debug/EF6CodeFirstTutorials.pdb
/WeatherStats/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WeatherStats/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WeatherStats/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WeatherStats/obj/Debug/WeatherStats.csproj.FileListAbsolute.txt
/WeatherStats/obj/Debug/WeatherStats.csprojResolveAssemblyReference.cache
/WeatherStats/packages.config
